/*HEADER*/
/*UL*/
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1E1E24;
}
body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 200%;
}
ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li{
    list-style: none;
    color: #484848;
    font-family: arial;
    font-size: 90px;
    letter-spacing: 15px;
    animation: flash 1.4s linear infinite ;
}
@keyframes flash{
    0%{
        color: #484848;
        text-shadow: none;    
    }
    90%{
        color: #484848;
        text-shadow: none;    
    }
    100%{
        color: #bdbdbd;
        text-shadow:0 0 7px #fff900, 0 0 50px "ff6c00";
    }
}
ul li:nth-child(1){
    animation-delay: .1s;
}
ul li:nth-child(2){
    animation-delay: .2s;
}
ul li:nth-child(3){
    animation-delay: .3s;
}
ul li:nth-child(4){
    animation-delay: .3s;
}
ul li:nth-child(5){
    animation-delay: .4s;
}
ul li:nth-child(6){
    animation-delay: .5s;
}
ul li:nth-child(7){
    animation-delay: .6s;
}
ul li:nth-child(8){
    animation-delay: .7s;
}
ul li:nth-child(9){
    animation-delay: .8s;
}
ul li:nth-child(10){
    animation-delay: .9s;
}
ul li:nth-child(11){
    animation-delay: 1s;
}
ul li:nth-child(12){
    animation-delay: 1.1s;
}
ul li:nth-child(13){
    animation-delay: 1.2s;
}
ul li:nth-child(14){
    animation-delay: 1.3s;
}
hr{
    font-weight: 20px;
}
.fond1{
    background-image: url(./image/galaxy-night-landscape.jpg);
    background-size: cover;
    height: 100vh;
}
/*2EME FOND*/
.container{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.fond2{
    background-color: rgb(39, 37, 37);
    color: white;
    font-size: 20px;
    text-align: left;
}
/*Barres de compétences*/

.skill{
    text-align: center;
    margin-bottom: 20px;
}
#competences{
    margin-top: 45px;
}
.progress{
    margin-bottom: 45px;
    text-shadow: 1px 1px 1px;
}
.text{
    color: white;
}
/*AVATAR*/
.img{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}
/*Centre d'intêret*/
#hobbie{
    direction: ltr;
    margin-top: 70px;
    color: white;
}
.card{
    max-width: 100%;
    height: auto;
}
/*EXPERIENCES TIMELINE*/
body{
    background-color: #f7f7f7;
    overflow-x: hidden ;
}

.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}
/*FORMATION*/
.formation{
    text-align: center;
}
#titleh1{
    margin-bottom: 40px;
}
.pformation{
    font-size: 40px;
}
/*CV*/
button#cv{
    background-color: #4179e2;
}
button{
    border: none;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0/16%);
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 25px;
}
/*CONTACT*/
#contact{
    text-align: center;
    margin-bottom: 35px;
}
.social{
    text-align: center;
    margin-bottom: 35px;
}
/*FOOTER*/
footer{
    text-align: center;
}
::selection{
    color: #fff;
    background: #6665ee;
  }
  .skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #232323;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 60%;
  }
  .bar .progress-line.jquery span{
    width: 85%;
  }
  .bar .progress-line.python span{
    width: 50%;
  }
  .bar .progress-line.mysql span{
    width: 75%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "90%";
  }
  .progress-line.css span::after{
    content: "60%";
  }
  .progress-line.jquery span::after{
    content: "85%";
  }
  .progress-line.python span::after{
    content: "50%";
  }
  .progress-line.mysql span::after{
    content: "75%";
  }
